<!DOCTYPE HTML>

<html>

<head>
	<title>BDSE28 車禍數據分析</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="../static/assets/css/main.css" />
	<link rel="icon" href="{{ url_for('static', filename='images/car_crash.png') }}">
	<noscript>
		<link rel="stylesheet" href="../static/assets/css/noscript.css" />
	</noscript>

	<!-- leaflet -->
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.2/dist/leaflet.css"
		integrity="sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14=" crossorigin="" />
	<script src="https://unpkg.com/leaflet@1.9.2/dist/leaflet.js"
		integrity="sha256-o9N1jGDZrf5tS+Ft4gbIK7mYMipq9lqpVJ91xHSyKhg=" crossorigin=""></script>

	<!-- MarkerCluster -->

	<link href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/MarkerCluster.css">
	</link>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/leaflet.markercluster.js"></script>

	<style>
		.marker-cluster-small {
			background-color: rgba(181, 226, 140, 0.6);
		}

		.marker-cluster-small div {
			background-color: rgba(110, 204, 57, 0.6);
		}

		.marker-cluster-medium {
			background-color: rgba(241, 211, 87, 0.6);
		}

		.marker-cluster-medium div {
			background-color: rgba(240, 194, 12, 0.6);
		}

		.marker-cluster-large {
			background-color: rgba(253, 156, 115, 0.6);
		}

		.marker-cluster-large div {
			background-color: rgba(241, 128, 23, 0.6);
		}

		.marker-cluster {
			background-clip: padding-box;
			border-radius: 20px;
		}

		.marker-cluster div {
			width: 30px;
			height: 30px;
			margin-left: 5px;
			margin-top: 5px;

			text-align: center;
			border-radius: 15px;
			font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
		}

		.marker-cluster span {
			line-height: 30px;
		}
	</style>

</head>

<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Header -->
		<header id="header">
			<a href="/" class="logo">BDSE NO.4</a>
		</header>

		<!-- Nav -->
		<nav id="nav">
			<ul class="links">
				<li><a href="/">This is BDSE28 NO.4</a></li>
				<li class="active"><a href="location">各縣市車禍分佈</a></li>
				<li><a href="model">車禍數據模型</a></li>

			</ul>
			<ul class="icons">
				<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
				<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
				<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
				<li><a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
			</ul>
		</nav>

		<!-- Main -->
		<div id="main">

			<!-- Post -->
			<section class="post">
				<header class="major">
					<h1>各縣市車禍分佈</h1>
				</header>

				<!-- Text stuff -->
				<!-- <h2>Text</h2> -->

				<div id="location">
					<style>
						option {
							display: inline-block;
						}
					</style>

					<select class="year_option" id="year_Select">
						<option selected>請選擇年份</option>
						<option value="2018">2018</option>
						<option value="2019">2019</option>
						<option value="2020">2020</option>
						<option value="2021">2021</option>
						<option value="2022">2022</option>
					</select>

					<select class="location_option" id="location_Select">
						<option selected>請選擇縣市</option>
						<option value="keelung">基隆市</option>
						<option value="taipei">台北市</option>
						<option value="newtaipeicity">新北市</option>
						<option value="taoyuan">桃園市</option>
						<option value="hsinchu">新竹市</option>
						<option value="hsinchucounty">新竹縣</option>
						<option value="miaolicounty">苗栗縣</option>
						<option value="taichung">台中市</option>
						<option value="changhuacounty">彰化縣</option>
						<option value="nantoucounty">南投縣</option>
						<option value="yunlincounty">雲林縣</option>
						<option value="chiayi">嘉義市</option>
						<option value="chiayicounty">嘉義縣</option>
						<option value="tainan">台南市</option>
						<option value="kaohsiung">高雄市</option>
						<option value="pingtungcounty">屏東縣</option>
						<option value="taitungcounty">台東縣</option>
						<option value="hualiencounty">花蓮縣</option>
						<option value="yilancounty">宜蘭縣</option>
						<option value="penghucounty">澎湖縣</option>
						<option value="kinmencounty">金門縣</option>
						<option value="lienchiangcounty">連江縣</option>
					</select>

					<style>
						button {
							float: right;
						}
					</style>

					</br>

					<button class="button fit" id="btn_request">送出查詢</button>

				</div>

				<hr />

				<!-- leaflet地圖 -->
				<div id="map" class="box" style="height: 600px; width: 100%;"></div>

				<script>

					var map = L.map('map').setView([25.0305061, 121.5289971], 13);

					L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
						attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
					}).addTo(map);

					let layerGroup = null;
					let arrLayers = [];
					let polygon;
					const selectYear = document.querySelector('.year_option');
					const selectLocation = document.querySelector('.location_option');

					function getlocation(getsql) {
						fetch(getsql, {
							method: "GET"
						}).then(function (response) {
							return response.json();
						}).then(function (arr) {
							if (layerGroup != null && map.hasLayer(layerGroup)) {
								layerGroup.clearLayers();
								map.removeLayer(layerGroup);

								layerGroup = null;
								arrLayers = [];
							}

							document.getElementById('accident_count').innerText = '車禍數 : ' + arr.length / 2;

							var markers = L.markerClusterGroup({ spiderfyOnMaxZoom: false, showCoverageOnHover: false, zoomToBoundsOnClick: false });
							for (let i = 0; i < arr.length; i += 2) {
								let lat = arr[i];
								let lng = arr[i + 1];
								let marker = markers.addLayer(L.marker([lat, lng]))
									.bindPopup(`${lat},${lng}`)
									.openPopup();

								marker.addEventListener('click', function (event) {
									console.log(lat, lng);
								});
								//將 markers 各別放到空陣列 arrLayers 當中
								arrLayers.push(marker);
							}
							//迴圈執行完畢後，將 arrLayers 放到 layerGroup 當中
							layerGroup = L.layerGroup(arrLayers);
							//將 layerGroup 放到 map 當中
							layerGroup.addTo(map);
						});
					}

					document.querySelector('button#btn_request').addEventListener('click', function (event) {
						const result = document.querySelector('.result');
						getlocation(`/option/${selectLocation.value}_${selectYear.value}`)

						if (polygon) {
							polygon.remove();
						}
						// 依照縣市設定邊界及地圖顯示的座標
						switch (selectLocation.value) {
							case ("keelung"):
								fetch('../static/polygon/keelung.json')
									.then(response => response.json())
									.then(data => {
										polygon = L.polygon(data, { color: 'yellow' }).addTo(map);
									})
								map.panTo([25.1272072, 121.7367835], 13);
								break;
							case ("taipei"):
								fetch('../static/polygon/taipei.json')
									.then(response => response.json())
									.then(data => {
										polygon = L.polygon(data, { color: 'yellow' }).addTo(map);
									})
								map.panTo([25.0339145, 121.5412233], 13);
								break;
							case ("newtaipeicity"):
								fetch('../static/polygon/newTaipeiCity.json')
									.then(response => response.json())
									.then(data => {
										polygon = L.polygon(data, { color: 'yellow' }).addTo(map);
									})
								map.panTo([25.0149318, 121.4729936, 15], 13);
								break;
							case ("taoyuan"):
								fetch('../static/polygon/taoyuan.json')
									.then(response => response.json())
									.then(data => {
										polygon = L.polygon(data, { color: 'yellow' }).addTo(map);
									})
								map.panTo([24.991025, 121.2850733], 13);
								break;
							case ("hsinchu"):
								fetch('../static/polygon/hsinchu.json')
									.then(response => response.json())
									.then(data => {
										polygon = L.polygon(data, { color: 'yellow' }).addTo(map);
									})
								map.panTo([24.7835529, 120.9316642], 13);
								break;
							case ("hsinchucounty"):
								fetch('../static/polygon/hsinchuCounty.json')
									.then(response => response.json())
									.then(data => {
										polygon = L.polygon(data, { color: 'yellow' }).addTo(map);
									})
								map.panTo([24.8491971, 121.0670444], 5);
								break;
							case ("miaolicounty"):
								fetch('../static/polygon/miaoliCounty.json')
									.then(response => response.json())
									.then(data => {
										polygon = L.polygon(data, { color: 'yellow' }).addTo(map);
									})
								map.panTo([24.5456455, 120.8527485], 13);
								break;
							case ("taichung"):
								fetch('../static/polygon/taichung.json')
									.then(response => response.json())
									.then(data => {
										polygon = L.polygon(data, { color: 'yellow' }).addTo(map);
									})
								map.panTo([24.1459811, 120.6707398], 13);
								break;
							case ("changhuacounty"):
								fetch('../static/polygon/changhuaCounty.json')
									.then(response => response.json())
									.then(data => {
										polygon = L.polygon(data, { color: 'yellow' }).addTo(map);
									})
								map.panTo([23.992187, 120.3230685], 13);
								break;
							case ("nantoucounty"):
								fetch('../static/polygon/nantouCounty.json')
									.then(response => response.json())
									.then(data => {
										polygon = L.polygon(data, { color: 'yellow' }).addTo(map);
									})
								map.panTo([23.9508903, 120.9468249], 13);
								break;
							case ("yunlincounty"):
								fetch('../static/polygon/yunlinCounty.json')
									.then(response => response.json())
									.then(data => {
										polygon = L.polygon(data, { color: 'yellow' }).addTo(map);
									})
								map.panTo([23.6745746, 120.2945075], 13);
								break;
							case ("chiayi"):
								fetch('../static/polygon/chiayi.json')
									.then(response => response.json())
									.then(data => {
										polygon = L.polygon(data, { color: 'yellow' }).addTo(map);
									})
								map.panTo([23.4790323, 120.414277], 13);
								break;
							case ("chiayicounty"):
								fetch('../static/polygon/chiayiCounty.json')
									.then(response => response.json())
									.then(data => {
										polygon = L.polygon(data, { color: 'yellow' }).addTo(map);
									})
								map.panTo([23.425616, 120.3974609], 13);
								break;
							case ("tainan"):
								fetch('../static/polygon/tainan.json')
									.then(response => response.json())
									.then(data => {
										polygon = L.polygon(data, { color: 'yellow' }).addTo(map);
									})
								map.panTo([23.0070342, 120.249638], 13);
								break;
							case ("kaohsiung"):
								fetch('../static/polygon/kaohsiung.json')
									.then(response => response.json())
									.then(data => {
										polygon = L.polygon(data, { color: 'yellow' }).addTo(map);
									})
								map.panTo([22.6283618, 120.3265012], 13);
								break;
							case ("pingtungcounty"):
								fetch('../static/polygon/pingtungCounty.json')
									.then(response => response.json())
									.then(data => {
										polygon = L.polygon(data, { color: 'yellow' }).addTo(map);
									})
								map.panTo([22.6053635, 120.5368672], 5);
								break;
							case ("taitungcounty"):
								fetch('../static/polygon/taitungCounty.json')
									.then(response => response.json())
									.then(data => {
										polygon = L.polygon(data, { color: 'yellow' }).addTo(map);
									})
								map.panTo([22.7221328, 120.6097004], 13);
								break;
							case ("hualiencounty"):
								fetch('../static/polygon/hualienCounty.json')
									.then(response => response.json())
									.then(data => {
										polygon = L.polygon(data, { color: 'yellow' }).addTo(map);
									})
								map.panTo([23.7289695, 121.379031], 13);
								break;
							case ("yilancounty"):
								fetch('../static/polygon/yilanCounty.json')
									.then(response => response.json())
									.then(data => {
										polygon = L.polygon(data, { color: 'yellow' }).addTo(map);
									})
								map.panTo([25.0341146, 121.2601654], 13);
								break;
							case ("penghucounty"):
								fetch('../static/polygon/penghuCounty.json')
									.then(response => response.json())
									.then(data => {
										polygon = L.polygon(data, { color: 'yellow' }).addTo(map);
									})
								map.panTo([23.5682493, 119.5960847], 13);
								break;
							case ("kinmencounty"):
								fetch('../static/polygon/kinmen.json')
									.then(response => response.json())
									.then(data => {
										polygon = L.polygon(data, { color: 'yellow' }).addTo(map);
									})
								map.panTo([24.6916992, 118.2699011], 13);
								break;
							case ("lienchiangcounty"):
								const lienchiangCounty_polygon =
									polygon = L.polygon(lienchiangCounty_polygon, { color: 'yellow' }).addTo(map);
								map.panTo([26.139729, 120.0108395], 13);
								break;
						}

					});

				</script>


				<hr />
				<header>
					<h2 id="accident_count">車禍數 :</h2>
					<p>test</p>
				</header>
				<p>Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non
					faucibus ornare mi ut ante amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan
					varius montes viverra nibh in adipiscing blandit tempus accumsan.</p>
				<header>
					<h3>Heading with a Subtitle</h3>
					<p>Lorem ipsum dolor sit amet nullam id egestas urna aliquam</p>
				</header>
				<p>Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non
					faucibus ornare mi ut ante amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan
					varius montes viverra nibh in adipiscing blandit tempus accumsan.</p>
				<header>
					<h4>Heading with a Subtitle</h4>
					<p>Lorem ipsum dolor sit amet nullam id egestas urna aliquam</p>
				</header>
				<p>Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non
					faucibus ornare mi ut ante amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan
					varius montes viverra nibh in adipiscing blandit tempus accumsan.</p>

				<hr />

				<!-- Lists -->
				<h2>Lists</h2>
				<div class="row">
					<div class="col-6 col-12-small">

						<h3>Unordered</h3>
						<ul>
							<li>Dolor pulvinar etiam.</li>
							<li>Sagittis lorem eleifend.</li>
							<li>Felis feugiat dolore viverra.</li>
							<li>Dolor pulvinar etiam.</li>
						</ul>

						<h3>Alternate</h3>
						<ul class="alt">
							<li>Dolor pulvinar etiam etiam.</li>
							<li>Sagittis adipiscing eleifend.</li>
							<li>Felis enim dolore viverra.</li>
							<li>Dolor pulvinar etiam etiam.</li>
						</ul>

					</div>
					<div class="col-6 col-12-small">

						<h3>Ordered</h3>
						<ol>
							<li>Dolor pulvinar etiam.</li>
							<li>Etiam vel felis at viverra.</li>
							<li>Felis enim feugiat magna.</li>
							<li>Etiam vel felis nullam.</li>
							<li>Felis enim et tempus.</li>
						</ol>

						<h3>Icons</h3>
						<ul class="icons">
							<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a>
							</li>
							<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a>
							</li>
							<li><a href="#" class="icon brands fa-github"><span class="label">Github</span></a></li>
							<li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
						</ul>
						<ul class="icons alt">
							<li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a>
							</li>
							<li><a href="#" class="icon brands alt fa-facebook-f"><span
										class="label">Facebook</span></a></li>
							<li><a href="#" class="icon brands alt fa-instagram"><span
										class="label">Instagram</span></a></li>
							<li><a href="#" class="icon brands alt fa-github"><span class="label">Github</span></a></li>
							<li><a href="#" class="icon brands alt fa-dribbble"><span class="label">Dribbble</span></a>
							</li>
						</ul>

					</div>
				</div>
				<h3>Definition</h3>
				<dl>
					<dt>Item 1</dt>
					<dd>
						<p>Lorem ipsum dolor vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu
							felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent.
						</p>
					</dd>
					<dt>Item 2</dt>
					<dd>
						<p>Lorem ipsum dolor vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu
							felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent.
						</p>
					</dd>
					<dt>Item 3</dt>
					<dd>
						<p>Lorem ipsum dolor vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu
							felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent.
						</p>
					</dd>
				</dl>

				<h3>Actions</h3>
				<ul class="actions">
					<li><a href="#" class="button primary">Primary</a></li>
					<li><a href="#" class="button">Default</a></li>
				</ul>
				<ul class="actions small">
					<li><a href="#" class="button primary small">Small</a></li>
					<li><a href="#" class="button small">Small</a></li>
				</ul>
				<div class="row">
					<div class="col-6 col-12-small">
						<ul class="actions stacked">
							<li><a href="#" class="button primary">Default</a></li>
							<li><a href="#" class="button">Default</a></li>
						</ul>
					</div>
					<div class="col-6 col-12-small">
						<ul class="actions stacked">
							<li><a href="#" class="button primary small">Small</a></li>
							<li><a href="#" class="button small">Small</a></li>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="col-6 col-12-small">
						<ul class="actions stacked">
							<li><a href="#" class="button primary fit">Default</a></li>
							<li><a href="#" class="button fit">Default</a></li>
						</ul>
					</div>
					<div class="col-6 col-12-small">
						<ul class="actions stacked">
							<li><a href="#" class="button primary small fit">Small</a></li>
							<li><a href="#" class="button small fit">Small</a></li>
						</ul>
					</div>
				</div>

				<hr />

				<!-- Blockquote -->
				<h2>Blockquote</h2>
				<blockquote>Fringilla nisl. Donec accumsan interdum nisi, quis tincidunt felis sagittis eget tempus
					euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis
					volutpat ac adipiscing accumsan faucibus. Vestibulum ante ipsum primis in faucibus vestibulum.
					Blandit adipiscing eu felis.</blockquote>

				<hr />

				<!-- Table -->
				<h2>Table</h2>

				<h3>Default</h3>
				<div class="table-wrapper">
					<table>
						<thead>
							<tr>
								<th>Name</th>
								<th>Description</th>
								<th>Price</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Item 1</td>
								<td>Ante turpis integer aliquet porttitor.</td>
								<td>29.99</td>
							</tr>
							<tr>
								<td>Item 2</td>
								<td>Vis ac commodo adipiscing arcu aliquet.</td>
								<td>19.99</td>
							</tr>
							<tr>
								<td>Item 3</td>
								<td> Morbi faucibus arcu accumsan lorem.</td>
								<td>29.99</td>
							</tr>
							<tr>
								<td>Item 4</td>
								<td>Vitae integer tempus condimentum.</td>
								<td>19.99</td>
							</tr>
							<tr>
								<td>Item 5</td>
								<td>Ante turpis integer aliquet porttitor.</td>
								<td>29.99</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<td colspan="2"></td>
								<td>100.00</td>
							</tr>
						</tfoot>
					</table>
				</div>

				<h3>Alternate</h3>
				<div class="table-wrapper">
					<table class="alt">
						<thead>
							<tr>
								<th>Name</th>
								<th>Description</th>
								<th>Price</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Item 1</td>
								<td>Ante turpis integer aliquet porttitor.</td>
								<td>29.99</td>
							</tr>
							<tr>
								<td>Item 2</td>
								<td>Vis ac commodo adipiscing arcu aliquet.</td>
								<td>19.99</td>
							</tr>
							<tr>
								<td>Item 3</td>
								<td> Morbi faucibus arcu accumsan lorem.</td>
								<td>29.99</td>
							</tr>
							<tr>
								<td>Item 4</td>
								<td>Vitae integer tempus condimentum.</td>
								<td>19.99</td>
							</tr>
							<tr>
								<td>Item 5</td>
								<td>Ante turpis integer aliquet porttitor.</td>
								<td>29.99</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<td colspan="2"></td>
								<td>100.00</td>
							</tr>
						</tfoot>
					</table>
				</div>

				<hr />

				<!-- Buttons -->
				<h2>Buttons</h2>
				<ul class="actions">
					<li><a href="#" class="button primary">Primary</a></li>
					<li><a href="#" class="button">Default</a></li>
				</ul>
				<ul class="actions">
					<li><a href="#" class="button primary large">Large</a></li>
					<li><a href="#" class="button">Default</a></li>
					<li><a href="#" class="button small">Small</a></li>
				</ul>
				<ul class="actions fit">
					<li><a href="#" class="button primary fit">Fit</a></li>
					<li><a href="#" class="button fit">Fit</a></li>
				</ul>
				<ul class="actions fit small">
					<li><a href="#" class="button primary fit small">Fit + Small</a></li>
					<li><a href="#" class="button fit small">Fit + Small</a></li>
				</ul>
				<ul class="actions">
					<li><a href="#" class="button primary icon solid fa-search">Icon</a></li>
					<li><a href="#" class="button icon solid fa-download">Icon</a></li>
				</ul>
				<ul class="actions">
					<li><span class="button primary disabled">Primary</span></li>
					<li><span class="button disabled">Default</span></li>
				</ul>

				<hr />

				<!-- Form -->
				<h2>Form</h2>

				<form method="post" action="#">
					<div class="row gtr-uniform">
						<div class="col-6 col-12-xsmall">
							<input type="text" name="demo-name" id="demo-name" value="" placeholder="Name" />
						</div>
						<div class="col-6 col-12-xsmall">
							<input type="email" name="demo-email" id="demo-email" value="" placeholder="Email" />
						</div>
						<!-- Break -->
						<div class="col-12">
							<select name="demo-category" id="demo-category">
								<option value="">- Category -</option>
								<option value="1">Manufacturing</option>
								<option value="1">Shipping</option>
								<option value="1">Administration</option>
								<option value="1">Human Resources</option>
							</select>
						</div>
						<!-- Break -->
						<div class="col-4 col-12-small">
							<input type="radio" id="demo-priority-low" name="demo-priority" checked>
							<label for="demo-priority-low">Low</label>
						</div>
						<div class="col-4 col-12-small">
							<input type="radio" id="demo-priority-normal" name="demo-priority">
							<label for="demo-priority-normal">Normal</label>
						</div>
						<div class="col-4 col-12-small">
							<input type="radio" id="demo-priority-high" name="demo-priority">
							<label for="demo-priority-high">High</label>
						</div>
						<!-- Break -->
						<div class="col-6 col-12-small">
							<input type="checkbox" id="demo-copy" name="demo-copy">
							<label for="demo-copy">Email me a copy</label>
						</div>
						<div class="col-6 col-12-small">
							<input type="checkbox" id="demo-human" name="demo-human" checked>
							<label for="demo-human">I am a human</label>
						</div>
						<!-- Break -->
						<div class="col-12">
							<textarea name="demo-message" id="demo-message" placeholder="Enter your message"
								rows="6"></textarea>
						</div>
						<!-- Break -->
						<div class="col-12">
							<ul class="actions">
								<li><input type="submit" value="Send Message" class="primary" /></li>
								<li><input type="reset" value="Reset" /></li>
							</ul>
						</div>
					</div>
				</form>

				<hr />

				<!-- Image -->
				<h2>Image</h2>

				<h3>Fit</h3>
				<span class="image fit"><img src="../static/images/pic01.jpg" alt="" /></span>
				<div class="box alt">
					<div class="row gtr-50 gtr-uniform">
						<div class="col-4"><span class="image fit"><img src="../static/images/pic02.jpg"
									alt="" /></span></div>
						<div class="col-4"><span class="image fit"><img src="../static/images/pic03.jpg"
									alt="" /></span></div>
						<div class="col-4"><span class="image fit"><img src="../static/images/pic04.jpg"
									alt="" /></span></div>
						<!-- Break -->
						<div class="col-4"><span class="image fit"><img src="../static/images/pic04.jpg"
									alt="" /></span></div>
						<div class="col-4"><span class="image fit"><img src="../static/images/pic02.jpg"
									alt="" /></span></div>
						<div class="col-4"><span class="image fit"><img src="../static/images/pic03.jpg"
									alt="" /></span></div>
						<!-- Break -->
						<div class="col-4"><span class="image fit"><img src="../static/images/pic03.jpg"
									alt="" /></span></div>
						<div class="col-4"><span class="image fit"><img src="../static/images/pic04.jpg"
									alt="" /></span></div>
						<div class="col-4"><span class="image fit"><img src="../static/images/pic02.jpg"
									alt="" /></span></div>
					</div>
				</div>

				<h3>Left &amp; Right</h3>
				<p><span class="image left"><img src="../static/images/pic08.jpg" alt="" /></span>Lorem ipsum dolor sit
					accumsan
					interdum nisi, quis tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in
					faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu
					faucibus. Integer ac pellentesque praesent tincidunt felis sagittis eget. tempus euismod. Vestibulum
					ante ipsum primis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus
					vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer
					ac pellentesque praesent tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis
					in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu
					faucibus. Integer ac pellentesque praesent. Vestibulum ante ipsum primis in faucibus magna blandit
					adipiscing eu felis iaculis.</p>
				<p><span class="image right"><img src="../static/images/pic09.jpg" alt="" /></span>Lorem ipsum dolor sit
					accumsan
					interdum nisi, quis tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in
					faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu
					faucibus. Integer ac pellentesque praesent tincidunt felis sagittis eget. tempus euismod. Vestibulum
					ante ipsum primis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus
					vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer
					ac pellentesque praesent tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis
					in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu
					faucibus. Integer ac pellentesque praesent. Vestibulum ante ipsum primis in faucibus magna blandit
					adipiscing eu felis iaculis.</p>

				<hr />

				<!-- Box -->
				<h2>Box</h2>
				<div class="box">
					<p>Felis sagittis eget tempus primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis
						volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent tincidunt felis
						sagittis eget. tempus euismod. Magna sed etiam ante ipsum primis in faucibus vestibulum. Blandit
						adipiscing eu ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat
						ac adipiscing accumsan eu faucibus lorem ipsum dolor sit amet nullam. Integer ac pellentesque
						praesent tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis sagittis
						eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu
						felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent
						tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus
						vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus.
						Integer ac pellentesque praesent. Vestibulum ante ipsum primis in faucibus magna blandit
						adipiscing eu felis iaculis volutpat lorem ipsum dolor.</p>
				</div>

				<hr />

				<!-- Preformatted Code -->
				<h2>Preformatted</h2>
				<pre><code>i = 0;

while (!deck.isInOrder()) {
    print 'Iteration ' + i;
    deck.shuffle();
    i++;
}

print 'It took ' + i + ' iterations to sort the deck.';
</code></pre>

			</section>

		</div>

		<!-- Footer -->
		<footer id="footer">
			<section>
				<form method="post" action="#">
					<div class="fields">
						<div class="field">
							<label for="name">Name</label>
							<input type="text" name="name" id="name" />
						</div>
						<div class="field">
							<label for="email">Email</label>
							<input type="text" name="email" id="email" />
						</div>
						<div class="field">
							<label for="message">Message</label>
							<textarea name="message" id="message" rows="3"></textarea>
						</div>
					</div>
					<ul class="actions">
						<li><input type="submit" value="Send Message" /></li>
					</ul>
				</form>
			</section>
			<section class="split contact">
				<section class="alt">
					<h3>Address</h3>
					<p>1234 Somewhere Road #87257<br />
						Nashville, TN 00000-0000</p>
				</section>
				<section>
					<h3>Phone</h3>
					<p><a href="#">(000) 000-0000</a></p>
				</section>
				<section>
					<h3>Email</h3>
					<p><a href="#">info@untitled.tld</a></p>
				</section>
				<section>
					<h3>Social</h3>
					<ul class="icons alt">
						<li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a>
						</li>
						<li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a>
						</li>
						<li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
					</ul>
				</section>
			</section>
		</footer>

		<!-- Copyright -->
		<div id="copyright">
			<ul>
				<li>&copy; Untitled</li>
				<li>Design: <a href="https://html5up.net">HTML5 UP</a></li>
			</ul>
		</div>

	</div>

	<!-- Scripts -->
	<script src="../static/assets/js/jquery.min.js"></script>
	<script src="../static/assets/js/jquery.scrollex.min.js"></script>
	<script src="../static/assets/js/jquery.scrolly.min.js"></script>
	<script src="../static/assets/js/browser.min.js"></script>
	<script src="../static/assets/js/breakpoints.min.js"></script>
	<script src="../static/assets/js/util.js"></script>
	<script src="../static/assets/js/main.js"></script>

</body>

</html>