<!DOCTYPE HTML>

<html>

<head>
	<title>BDSE28 NO.4 車禍數據模型</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="../static/assets/css/main.css" />
	<link rel="icon" href="{{ url_for('static', filename='images/car_crash.png') }}">
	<noscript>
		<link rel="stylesheet" href="../static/assets/css/noscript.css" />
	</noscript>

	<!-- 載入jQuery -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

	<!-- 縣市 js -->
	<script src="https://demeter.5fpro.com/tw/zipcode-selector.js"></script>

	<!-- leaflet -->
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.2/dist/leaflet.css"
		integrity="sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14=" crossorigin="" />
	<script src="https://unpkg.com/leaflet@1.9.2/dist/leaflet.js"
		integrity="sha256-o9N1jGDZrf5tS+Ft4gbIK7mYMipq9lqpVJ91xHSyKhg=" crossorigin=""></script>

	<!-- Chart.js v2.9.3 -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>

	<style>
		.chart-box.dark {
			background-color: #172b4d;
		}

		.chart-header.dark {
			border-bottom: 1px solid rgba(255, 255, 255, 0.2);
		}

		.chart-header.dark h3.title {
			color: #fff;
		}
	</style>

</head>

<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Header -->
		<header id="header">
			<a href="/" class="logo">Group 4</a>
		</header>

		<!-- Nav -->
		<nav id="nav">
			<ul class="links">
				<li><a href="/">This is BDSE28 Group4</a></li>
				<li><a href="location">各縣市車禍分佈</a></li>
				<li class="active"><a href="model">車禍數據模型</a></li>

			</ul>
			<ul class="icons">
				<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
				<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
				<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
				<li><a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
			</ul>
		</nav>

		<!-- Main -->
		<div id="main">

			<!-- Post -->
			<section class="post">
				<header class="major">
					<span class="date">January 17, 2022</span>
					<h1>Model</h1>
					<!-- <p>敘述模型</p> -->
				</header>


				<input class="js-demeter-tw-zipcode-selector" data-city="#city" data-dist="#dist"
					placeholder="請輸入郵遞區號" />
				<select id="city" placeholder="請選擇縣市"></select>
				<select id="dist" placeholder="請選擇鄉鎮區"></select>
				<input id="road" type="text" placeholder="請輸入道路"></input>
				</br>
				<style>
					button {
						float: right;
					}
				</style>
				<button id="btn_request">送出查詢</button>

				<hr />


				<!-- leaflet地圖 -->
				<div id="map" class="box" style="height: 600px; width: 100%;"></div>


				<div id="result"></div>
				<div class="chart-box dark">
					<div class="chart-body">
						<canvas id="myChart" class="box" style="height: 400px; width: 100%;"></canvas>
					</div>
				</div>

				<h3>車禍預測級距</h3>
				<div class="table-wrapper">
					<table class="alt">
						<thead>
							<tr>
								<th>時間</th>
								<th>氣溫(℃)_x</th>
								<th>測站氣壓(hPa)_x</th>
								<th>相對溼度(%)_x</th>
								<th>RANK</th>
							</tr>
						</thead>
						<tbody>


						</tbody>
						<tfoot>
							<tr>
								<td colspan="4"></td>
								<td>100.00</td>
							</tr>
						</tfoot>
					</table>
				</div>

				<hr />

				<script>

					const selectCity = document.querySelector('#city');
					const selectDist = document.querySelector('#dist');
					const inputRoad = document.querySelector('#road');
					let tbody = document.querySelector('table > tbody');

					let map = L.map('map').setView([25.0339145, 121.5412233], 13);

					//初始化地圖圖層(預設)
					L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
						attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
					}).addTo(map);

					let marker = null;

					document.querySelector('button#btn_request').addEventListener('click', function (event) {
						const result = document.querySelector('#result');

						fetch(`/model/${selectCity.value}${selectDist.value}/${inputRoad.value}`, {
							method: "GET"
						}).then(function (response) {
							return response.json();
						}).then(function (alldata) {
							if (marker) {
								marker.remove();
								circle.remove();
							}

							map.panTo([alldata.coordinate[0], alldata.coordinate[1]], 1);

							switch (alldata['rank'][i][4]) {
								case (1):
									let caution_marker = L.icon({
										iconUrl: '../static/images/cross-road(1).png',
										iconSize: [30, 45],
										iconAnchor: [15, 35],
										popupAnchor: [0, -40]
									});
								case (2):
									caution_marker = L.icon({
										iconUrl: '../static/images/cross-road(2).png',
										iconSize: [30, 45],
										iconAnchor: [15, 35],
										popupAnchor: [0, -40]
									})
								case (3):
									caution_marker = L.icon({
										iconUrl: '../static/images/cross-road(3).png',
										iconSize: [30, 45],
										iconAnchor: [15, 35],
										popupAnchor: [0, -40]
									})
								case (4):
									caution_marker = L.icon({
										iconUrl: '../static/images/caution.png',
										iconSize: [30, 45],
										iconAnchor: [15, 35],
										popupAnchor: [0, -40]
									})
								case (5):
									caution_marker = L.icon({
										iconUrl: '../static/images/caution(1).png',
										iconSize: [30, 45],
										iconAnchor: [15, 35],
										popupAnchor: [0, -40]
									})
								case (6):
									caution_marker = L.icon({
										iconUrl: '../static/images/caution(2).png',
										iconSize: [30, 45],
										iconAnchor: [15, 35],
										popupAnchor: [0, -40]
									})
								case (alldata['rank'][i][4] > 6):
									caution_marker = L.icon({
										iconUrl: '../static/images/caution(3).png',
										iconSize: [30, 45],
										iconAnchor: [15, 35],
										popupAnchor: [0, -40]
									})
							}

							marker = L.marker([alldata.coordinate[0], alldata.coordinate[1]]).addTo(map)
								.bindPopup(`${alldata.coordinate[0]}, ${alldata.coordinate[1]}`)
								.openPopup();
							circle = L.circle([alldata.coordinate[0], alldata.coordinate[1]], { radius: 200 }).addTo(map);

							// 清空 tbody 底下既有元素，如 tr td 等
							tbody.innerHTML = '';
							let chartlabel = [];
							let chartdata = [];

							// 將回傳資料動態生成在網頁上
							for (let i = 0; i < 24; i++) {
								//輸出對應的 html tag
								let tr = document.createElement("tr");
								tr.innerHTML = `<td>${alldata['發生時間'][i]}</td>
												<td>${alldata['氣溫(℃)_x'][i]}</td>
												<td>${alldata['測站氣壓(hPa)_x'][i]}</td>
												<td>${alldata['相對溼度(%)_x'][i]}</td>
												<td>${alldata['rank'][i]}</td>`

								tbody.appendChild(tr);
								chartlabel.push(`${alldata['發生時間'][i]}時`)
								chartdata.push(parseInt(alldata['rank'][i][4]))
							}

							// 取得 <div id="result"> 元素
							let div_re = document.getElementById('result');

							// 將資料印在 <div> 元素裡面
							div_re.innerHTML = `人口密度 : ${alldata['density']} /每平方公里`;



							// 圖表js
							var ctx = document.getElementById("myChart");

							var myChart = new Chart(ctx, {
								type: 'line',
								data: {
									labels: chartlabel,
									datasets: [{
										backgroundColor: 'rgba(54, 162, 235, 0.2)',
										borderColor: 'rgba(54, 162, 235, 1)',
										borderWidth: 3,
										label: '危險程度',
										data: chartdata,
										fill: true, // 是否填滿色彩
										pointStyle: 'rect', // 點點樣式
										pointBackgroundColor: 'rgba(54, 162, 235, 1)',
									}]
								},
								options: {
									legend: {
										labels: {
											fontColor: 'white' // 標籤顏色 
										}
									},
									scales: {
										xAxes: [{
											gridLines: {
												display: false, // X軸 線條不顯示 
											},
											ticks: {
												fontColor: "#CCC" // X軸 文字顏色 
											},
										}],
										yAxes: [{
											gridLines: {
												color: 'rgba(255, 255, 255, 0.1)' // Y軸 線條顏色 
											},
											ticks: {
												fontColor: "#CCC", // Y軸 文字顏色 
												beginAtZero: true // Y軸 從0開始
											},
										}]
									}
								}
							});
							// var chart = new Chart(ctx, {
							// 	type: "line", // 圖表類型
							// 	data: {
							// 		labels: chartlabel, //顯示區間名稱
							// 		datasets: [
							// 			{
							// 				// label: "標籤名稱", // tootip 出現的名稱
							// 				// data: chartdata, // 資料
							// 				// backgroundColor: [
							// 				// 	"rgba(255, 99, 132, 0.2)", // 第一個 bar 顏色
							// 				// 	"rgba(54, 162, 235, 0.2)",
							// 				// 	"rgba(255, 206, 86, 0.2)",
							// 				// 	"rgba(75, 192, 192, 0.2)",
							// 				// 	"rgba(153, 102, 255, 0.2)",
							// 				// 	"rgba(255, 159, 64, 0.2)"
							// 				// ],
							// 				// borderColor: [
							// 				// 	"rgba(255,99,132,1)",
							// 				// 	"rgba(54, 162, 235, 1)",
							// 				// 	"rgba(255, 206, 86, 1)",
							// 				// 	"rgba(75, 192, 192, 1)",
							// 				// 	"rgba(153, 102, 255, 1)",
							// 				// 	"rgba(255, 159, 64, 1)"
							// 				// ],
							// 				// borderWidth: 2
							// 			}
							// 		]
							// 	}
							// });




						})
					})
				</script>





				<div class="image main"><img src="../static/images/pic01.jpg" alt="" /></div>
				<p>Donec eget ex magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque
					venenatis dolor imperdiet dolor mattis sagittis. Praesent rutrum sem diam, vitae egestas enim auctor
					sit amet. Pellentesque leo mauris, consectetur id ipsum sit amet, fergiat. Pellentesque in mi eu
					massa lacinia malesuada et a elit. Donec urna ex, lacinia in purus ac, pretium pulvinar mauris. Nunc
					lorem mauris, fringilla in aliquam at, euismod in lectus. Pellentesque habitant morbi tristique
					senectus et netus et malesuada fames ac turpis egestas. Curabitur sapien risus, commodo eget turpis
					at, elementum convallis enim turpis, lorem ipsum dolor sit amet nullam.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dapibus rutrum facilisis. Class aptent
					taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam tristique
					libero eu nibh porttitor fermentum. Nullam venenatis erat id vehicula viverra. Nunc ultrices eros ut
					ultricies condimentum. Mauris risus lacus, blandit sit amet venenatis non, bibendum vitae dolor.
					Nunc lorem mauris, fringilla in aliquam at, euismod in lectus. Pellentesque habitant morbi tristique
					senectus et netus et malesuada fames ac turpis egestas. In non lorem sit amet elit placerat maximus.
					Pellentesque aliquam maximus risus. Donec eget ex magna. Interdum et malesuada fames ac ante ipsum
					primis in faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis. Praesent rutrum
					sem diam, vitae egestas enim auctor sit amet. Pellentesque leo mauris, consectetur id ipsum.</p>
			</section>

		</div>

		<!-- Footer -->
		<footer id="footer">
			<section>
				<form method="post" action="#">
					<div class="fields">
						<div class="field">
							<label for="name">Name</label>
							<input type="text" name="name" id="name" />
						</div>
						<div class="field">
							<label for="email">Email</label>
							<input type="text" name="email" id="email" />
						</div>
						<div class="field">
							<label for="message">Message</label>
							<textarea name="message" id="message" rows="3"></textarea>
						</div>
					</div>
					<ul class="actions">
						<li><input type="submit" value="Send Message" /></li>
					</ul>
				</form>
			</section>
			<section class="split contact">
				<section class="alt">
					<h3>Address</h3>
					<p>1234 Somewhere Road #87257<br />
						Nashville, TN 00000-0000</p>
				</section>
				<section>
					<h3>Phone</h3>
					<p><a href="#">(000) 000-0000</a></p>
				</section>
				<section>
					<h3>Email</h3>
					<p><a href="#">info@untitled.tld</a></p>
				</section>
				<section>
					<h3>Social</h3>
					<ul class="icons alt">
						<li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a>
						</li>
						<li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a>
						</li>
						<li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
					</ul>
				</section>
			</section>
		</footer>

		<!-- Copyright -->
		<div id="copyright">
			<ul>
				<li>&copy; Untitled</li>
				<li>Design: <a>BDSE28-No.4</a></li>
			</ul>
		</div>

	</div>

	<!-- Scripts -->
	<script src="../static/assets/js/jquery.min.js"></script>
	<script src="../static/assets/js/jquery.scrollex.min.js"></script>
	<script src="../static/assets/js/jquery.scrolly.min.js"></script>
	<script src="../static/assets/js/browser.min.js"></script>
	<script src="../static/assets/js/breakpoints.min.js"></script>
	<script src="../static/assets/js/util.js"></script>
	<script src="../static/assets/js/main.js"></script>

</body>

</html>