<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.2/dist/leaflet.css"
        integrity="sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.2/dist/leaflet.js"
        integrity="sha256-o9N1jGDZrf5tS+Ft4gbIK7mYMipq9lqpVJ91xHSyKhg=" crossorigin=""></script>


    <link href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/MarkerCluster.css">
    </link>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/leaflet.markercluster.js"></script>

    <style>
        .marker-cluster-small {
            background-color: rgba(181, 226, 140, 0.6);
        }

        .marker-cluster-small div {
            background-color: rgba(110, 204, 57, 0.6);
        }

        .marker-cluster-medium {
            background-color: rgba(241, 211, 87, 0.6);
        }

        .marker-cluster-medium div {
            background-color: rgba(240, 194, 12, 0.6);
        }

        .marker-cluster-large {
            background-color: rgba(253, 156, 115, 0.6);
        }

        .marker-cluster-large div {
            background-color: rgba(241, 128, 23, 0.6);
        }

        .marker-cluster {
            background-clip: padding-box;
            border-radius: 20px;
        }

        .marker-cluster div {
            width: 30px;
            height: 30px;
            margin-left: 5px;
            margin-top: 5px;

            text-align: center;
            border-radius: 15px;
            font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
        }

        .marker-cluster span {
            line-height: 30px;
        }
    </style>

</head>

<body>

    <select class="year_option" id="year_Select">
        <option selected>請選擇年份</option>
        <option value="2018">2018</option>
        <option value="2019">2019</option>
        <option value="2020">2020</option>
        <option value="2021">2021</option>
        <option value="2022">2022</option>
    </select>

    <select class="location_option" id="location_Select">
        <option selected>請選擇縣市</option>
        <option value="Keelung">基隆市</option>
        <option value="Taipei">台北市</option>
        <option value="NewTaipeiCity">新北市</option>
        <option value="Taoyuan">桃園市</option>
        <option value="Hsinchu">新竹市</option>
        <option value="HsinchuCounty">新竹縣</option>
        <option value="MiaoliCounty">苗栗縣</option>
        <option value="Taichung">台中市</option>
        <option value="ChanghuaCounty">彰化縣</option>
        <option value="NantouCounty">南投縣</option>
        <option value="YunlinCounty">雲林縣</option>
        <option value="Chiayi">嘉義市</option>
        <option value="ChiayiCounty">嘉義縣</option>
        <option value="Tainan">台南市</option>
        <option value="Kaohsiung">高雄市</option>
        <option value="PingtungCounty">屏東縣</option>
        <option value="TaitungCounty">台東縣</option>
        <option value="HualienCounty">花蓮縣</option>
        <option value="YilanCounty">宜蘭縣</option>
        <option value="PenghuCounty">澎湖縣</option>
        <option value="KinmenCounty">金門縣</option>
        <option value="LienchiangCounty">連江縣</option>
    </select>

    <style>
        button {
            float: right;
        }
    </style>
    <button id="btn_request">送出查詢</button>

    <div id="map" class="box" style="height: 600px; width: 100%;"></div>

    <div class="result"></div>

    <script>

        let map = L.map('map').setView([25.0339145, 121.5412233], 13);

        //初始化地圖圖層(預設)
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        L.marker([25.0305061, 121.5289971]).addTo(map)
            .bindPopup('Group4<br>測試')
            .openPopup();

        L.circle([25.0305061, 121.5289971], { radius: 200 }).addTo(map);


        //設定圖層群組
        let layerGroup = null;
        let arrLayers = [];
        let polygon;
        const selectYear = document.querySelector('.year_option');
        const selectLocation = document.querySelector('.location_option');

        // 建立地圖更新地圖function
        // fetch(flask的app.route(路徑),{method: ""})
        function getlocation(getsql) {
            fetch(getsql, {
                method: "GET"
            }).then(function (response) {
                return response.json();
            }).then(function (arr) {
                if (layerGroup != null && map.hasLayer(layerGroup)) {
                    layerGroup.clearLayers();
                    map.removeLayer(layerGroup);

                    layerGroup = null;
                    arrLayers = [];
                }
                var markers = L.markerClusterGroup({ spiderfyOnMaxZoom: false, showCoverageOnHover: true, zoomToBoundsOnClick: true });

                // 把資料庫取出來的list 緯度 經度做排列
                for (let i = 0; i < arr.length; i += 2) {
                    let lat = arr[i];
                    let lng = arr[i + 1];
                    let marker = markers.addLayer(L.marker([lat, lng]))
                        .bindPopup('test')
                        .openPopup();

                    marker.addEventListener('click', function (event) {
                        console.log(lat, lng);
                    });
                    //將 markers 各別放到空陣列 arrLayers 當中
                    arrLayers.push(marker);
                }
                //迴圈執行完畢後，將 arrLayers 放到 layerGroup 當中
                layerGroup = L.layerGroup(arrLayers);
                //將 layerGroup 放到 map 當中
                layerGroup.addTo(map);
            });
        }

        document.querySelector('button#btn_request').addEventListener('click', function (event) {
            const result = document.querySelector('.result');
            // 接收選項的值 並fetch資料庫取值 
            getlocation(`/option/${selectLocation.value}_${selectYear.value}`)

            // 初始化邊界
            if (polygon) {
                polygon.remove();
            }
            // 根據選取的縣市顯示邊界及將畫面移置該縣市位置
            switch (selectLocation.value) {
                case ("Keelung"):
                    fetch('../static/polygon/keelung.json')
                        .then(response => response.json())
                        .then(data => {
                            polygon = L.polygon(data, { color: 'yellow' }).addTo(map);
                        })
                    map.panTo([25.1272072, 121.7367835], 13);
                    break;
                case ("Taipei"):
                    fetch('../static/polygon/taipei.json')
                        .then(response => response.json())
                        .then(data => {
                            polygon = L.polygon(data, { color: 'yellow' }).addTo(map);
                        })
                    map.panTo([25.0339145, 121.5412233], 13);
                    break;
                case ("NewTaipeiCity"):
                    fetch('../static/polygon/newTaipeiCity.json')
                        .then(response => response.json())
                        .then(data => {
                            polygon = L.polygon(data, { color: 'yellow' }).addTo(map);
                        })
                    map.panTo([24.9875278, 121.3646033], 13);
                    break;
                case ("Taoyuan"):
                    fetch('../static/polygon/taoyuan.json')
                        .then(response => response.json())
                        .then(data => {
                            polygon = L.polygon(data, { color: 'yellow' }).addTo(map);
                        })
                    map.panTo([24.991025, 121.2850733], 13);
                    break;
                case ("Hsinchu"):
                    fetch('../static/polygon/hsinchu.json')
                        .then(response => response.json())
                        .then(data => {
                            polygon = L.polygon(data, { color: 'yellow' }).addTo(map);
                        })
                    map.panTo([24.7835529, 120.9316642], 13);
                    break;
                case ("HsinchuCounty"):
                    fetch('../static/polygon/hsinchuCounty.json')
                        .then(response => response.json())
                        .then(data => {
                            polygon = L.polygon(data, { color: 'yellow' }).addTo(map);
                        })
                    map.panTo([24.8491971, 121.0670444], 5);
                    break;
                case ("MiaoliCounty"):
                    fetch('../static/polygon/miaoliCounty.json')
                        .then(response => response.json())
                        .then(data => {
                            polygon = L.polygon(data, { color: 'yellow' }).addTo(map);
                        })
                    map.panTo([24.5456455, 120.8527485], 13);
                    break;
                case ("Taichung"):
                    fetch('../static/polygon/taichung.json')
                        .then(response => response.json())
                        .then(data => {
                            polygon = L.polygon(data, { color: 'yellow' }).addTo(map);
                        })
                    map.panTo([24.1459811, 120.6707398], 13);
                    break;
                case ("ChanghuaCounty"):
                    fetch('../static/polygon/changhuaCounty.json')
                        .then(response => response.json())
                        .then(data => {
                            polygon = L.polygon(data, { color: 'yellow' }).addTo(map);
                        })
                    map.panTo([23.992187, 120.3230685], 13);
                    break;
                case ("NantouCounty"):
                    fetch('../static/polygon/nantouCounty.json')
                        .then(response => response.json())
                        .then(data => {
                            polygon = L.polygon(data, { color: 'yellow' }).addTo(map);
                        })
                    map.panTo([23.9508903, 120.9468249], 13);
                    break;
                case ("YunlinCounty"):
                    fetch('../static/polygon/yunlinCounty.json')
                        .then(response => response.json())
                        .then(data => {
                            polygon = L.polygon(data, { color: 'yellow' }).addTo(map);
                        })
                    map.panTo([23.6745746, 120.2945075], 13);
                    break;
                case ("Chiayi"):
                    fetch('../static/polygon/chiayi.json')
                        .then(response => response.json())
                        .then(data => {
                            polygon = L.polygon(data, { color: 'yellow' }).addTo(map);
                        })
                    map.panTo([23.4790323, 120.414277], 13);
                    break;
                case ("ChiayiCounty"):
                    fetch('../static/polygon/chiayiCounty.json')
                        .then(response => response.json())
                        .then(data => {
                            polygon = L.polygon(data, { color: 'yellow' }).addTo(map);
                        })
                    map.panTo([23.425616, 120.3974609], 13);
                    break;
                case ("Tainan"):
                    fetch('../static/polygon/tainan.json')
                        .then(response => response.json())
                        .then(data => {
                            polygon = L.polygon(data, { color: 'yellow' }).addTo(map);
                        })
                    map.panTo([23.1506796, 120.0549275], 13);
                    break;
                case ("Kaohsiung"):
                    fetch('../static/polygon/kaohsiung.json')
                        .then(response => response.json())
                        .then(data => {
                            polygon = L.polygon(data, { color: 'yellow' }).addTo(map);
                        })
                    map.panTo([22.6283618, 120.3265012], 13);
                    break;
                case ("PingtungCounty"):
                    fetch('../static/polygon/pingtungCounty.json')
                        .then(response => response.json())
                        .then(data => {
                            polygon = L.polygon(data, { color: 'yellow' }).addTo(map);
                        })
                    map.panTo([22.6053635, 120.5368672], 5);
                    break;
                case ("TaitungCounty"):
                    fetch('../static/polygon/taitungCounty.json')
                        .then(response => response.json())
                        .then(data => {
                            polygon = L.polygon(data, { color: 'yellow' }).addTo(map);
                        })
                    map.panTo([22.7221328, 120.6097004], 13);
                    break;
                case ("HualienCounty"):
                    fetch('../static/polygon/hualienCounty.json')
                        .then(response => response.json())
                        .then(data => {
                            polygon = L.polygon(data, { color: 'yellow' }).addTo(map);
                        })
                    map.panTo([23.7289695, 121.379031], 13);
                    break;
                case ("YilanCounty"):
                    fetch('../static/polygon/yilanCounty.json')
                        .then(response => response.json())
                        .then(data => {
                            polygon = L.polygon(data, { color: 'yellow' }).addTo(map);
                        })
                    map.panTo([25.0341146, 121.2601654], 13);
                    break;
                case ("PenghuCounty"):
                    fetch('../static/polygon/penghuCounty.json')
                        .then(response => response.json())
                        .then(data => {
                            polygon = L.polygon(data, { color: 'yellow' }).addTo(map);
                        })
                    map.panTo([23.5682493, 119.5960847], 13);
                    break;
                case ("KinmenCounty"):
                    fetch('../static/polygon/kinmen.json')
                        .then(response => response.json())
                        .then(data => {
                            polygon = L.polygon(data, { color: 'yellow' }).addTo(map);
                        })
                    map.panTo([24.6916992, 118.2699011], 13);
                    break;
                case ("LienchiangCounty"):
                    const lienchiangCounty_polygon =
                        polygon = L.polygon(lienchiangCounty_polygon, { color: 'yellow' }).addTo(map);
                    map.panTo([26.139729, 120.0108395], 13);
                    break;
            }

        });
    </script>

</body>

</html>